<div class="row">
  <div class="col-xs-12">
    <h1>Tags</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Title</th>
          <th>Creation</th>
        </tr>
      </thead>
      <tbody *ngIf="tags && tags.length">
        <tr *ngFor="#tag of tags; #i = index">
          <td>{{i + 1}}</td>
          <td>{{tag.id}}</td>
          <td>{{tag.text}}</td>
          <td>{{tag.creation_timestamp | date: 'dd/MM/y HH:mm'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
