<div class="row">
  <div class="col-xs-12">
    <h1>Articles asd</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>Title</th>
          <th>Creation</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody *ngIf="articles && articles.length">
        <tr *ngFor="#article of articles">
          <td></td>
          <td>{{article.id}}</td>
          <td>{{article.title}}</td>
          <td>{{article.title}}</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
